<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-JEStat"
    version="0.0.1">
    <name>JEStat</name>
    <description>Cordova baidu stat</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>
	<repo></repo>

    <js-module src="www/JEStat.js" name="JEStat">
        <clobbers target="navigator.JEStat" />
    </js-module> 
    <preference name="STAT_ID" /> 
    <!--android-->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JEStat">
                <param name="android-package" value="com.baidu.mtj.Mtj"/>
                <param name="onload" value="true" />
            </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
     <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="$STAT_ID" />      
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">     
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.GET_TASKS" />
        <uses-permission android:name="android.permission.BLUETOOTH" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    </config-file>
    <!--source code-->
     <source-file src="src/android/Mtj.java" target-dir="src/com/baidu/mtj"/>
     <source-file src="src/android/libs/Baidu_Mtj_3.7.5.5.jar" target-dir="libs"/>
    </platform>
    <!-- ios -->
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">

            <feature name="startWithAppId">
                <param name="ios-package" value="JEStat" />
            </feature>
            <feature name="BaiduMobStat">
                <param name="ios-package" value="JEStat" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/JEStat.h" />
        <header-file src="src/ios/BaiduMobStat.h" />
        <header-file src="src/ios/MainViewController+stat.h" />
        
        <source-file src="src/ios/JEStat.m" />
        <source-file src="src/ios/MainViewController+stat.m" />
        <source-file src="src/ios/libBaiduMobStat.a" framework="true" compiler-flags="-fobjc-arc"/>

        <framework src="libz.1.2.5.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="Security.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="SystemConfiguration.framework" />

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

    </platform>

</plugin>
